{% extends 'musicvote/base.html' %}
{% load static %}
{% block content %}
<h2>{{ artist.artist_name|upper }}</h2>
<div class="sidebyside">
    <div class="colview">
        {% if artist.photo %}
        {% with 'musicvote/images/'|add:artist.photo as image_static %}
        <img src="{{ artist.photo.url }}" width=200 height=200 alt="{{ artist.name }}"><br>
        {% endwith %}
        {% else %}
        <img src="{% static 'musicvote/images/default.png' %}" width=200 height=200><br>
        {% endif %}
    </div>
    <div class="colview">
        {% if artist.birthdate %}
        <strong>Birthdate:</strong> {{ artist.birthdate }}<br>
        {% endif %}
        <strong>{{ artist.number_of_songs }} Songs:</strong>
        <ul>
            {% for song in song_titles %}
            <li><a href="{% url 'musicvote:song-detail' song.slug song.id %}">{{ song.song_title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}