{% extends 'musicvote/base.html' %}
{% load static %}
{% block content %}
<h2>{{ song.song_title|upper }}</h2>
<h3>{{ artist_names|upper }}</h3>
<div>
    {% if song.youtube_link %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ song.youtube_stub }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
    {% if song.spotify_link %}
    <iframe src="https://open.spotify.com/embed/track/{{ song.spotify_stub }}" width="249" height="315" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% endif %}
</div>
<div class="sidebyside">
    <div class="colview">
        <p><strong>
                {% if song.youtube_link %}
                <a href="{{ song.youtube_link }}" target="_blank">Watch the video on YouTube</a><br>
                {% endif %}
            </strong></p>
        <p><strong>
                {% if song.spotify_link %}
                <a href="{{ song.spotify_link }}" target="_blank">Listen to the song on Spotify</a><br>
                {% endif %}
            </strong></p>
        <p><strong>Average Rating:</strong>
            {% if song.number_of_ratings == 0 %}
            <em>No ratings yet!</em>
            {% else %}
            {{ song.average_rating }} / 5 <em>({{ song.number_of_ratings }} vote{{ song.number_of_ratings|pluralize }})</em>
            {% endif %}
        </p>
    </div>
    <div class="colview">
        <h3>Rate This Song!</h3>
        {% if request.user.is_authenticated %}
        <div class="sidebyside" id="votenumber">
            {% for i in '12345'|make_list %}
            <div class="votenumber" id="votenumber">
            	<a href="#">{{ forloop.counter }}</a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h4><a href="{% url 'register' %}">Create a new account</a> or <a href="{% url 'login' %}">login</a> to be able to rate songs!</h4>
        {% endif %}
    </div>
</div>
{% endblock %}